<div id="cart" class="btn-group btn-block">
  <button type="button" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg">
    <span class="cart-link">
      <span class="cart-img hidden-sm hidden-xs">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
          <symbol id="shopping-cart" viewBox="0 0 1000 1000"><title>shoppingcart</title>
          <path d="M482,181h-31v-45c0-37.026-27.039-67.672-62.366-73.722C382.791,44.2,365.999,31,346,31H166
          c-19.999,0-36.791,13.2-42.634,31.278C88.039,68.328,61,98.974,61,136v45H30c-16.569,0-30,13.431-30,30c0,16.567,13.431,30,30,30
          h452c16.569,0,30-13.433,30-30C512,194.431,498.569,181,482,181z M421,181H91v-45c0-20.744,14.178-38.077,33.303-43.264
          C130.965,109.268,147.109,121,166,121h180c18.891,0,35.035-11.732,41.697-28.264C406.822,97.923,421,115.256,421,136V181z"></path>
          <path d="M33.027,271l24.809,170.596C60.648,464.066,79.838,481,102.484,481h307.031c22.647,0,41.837-16.934,44.605-39.111
          L478.973,271H33.027z M151,406c0,8.291-6.709,15-15,15s-15-6.709-15-15v-90c0-8.291,6.709-15,15-15s15,6.709,15,15V406z M211,406
          c0,8.291-6.709,15-15,15s-15-6.709-15-15v-90c0-8.291,6.709-15,15-15s15,6.709,15,15V406z M271,406c0,8.291-6.709,15-15,15
          c-8.291,0-15-6.709-15-15v-90c0-8.291,6.709-15,15-15s15,6.709,15,15V406z M331,406c0,8.291-6.709,15-15,15
          c-8.291,0-15-6.709-15-15v-90c0-8.291,6.709-15,15-15c8.291,0,15,6.709,15,15V406z M391,406c0,8.291-6.709,15-15,15
          c-8.291,0-15-6.709-15-15v-90c0-8.291,6.709-15,15-15c8.291,0,15,6.709,15,15V406z"></path></symbol> 
        </svg>
        <svg class="icon" viewBox="0 0 50 50"><use xlink:href="#shopping-cart" x="25%" y="25%"></use></svg>
      </span>
       <span class="cart-img hidden-lg hidden-md">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">   
          <symbol id="cart1" viewBox="0 0 510 510"><title>cart</title>
              <path d="M306.4,313.2l-24-223.6c-0.4-3.6-3.6-6.4-7.2-6.4h-44.4V69.6c0-38.4-31.2-69.6-69.6-69.6c-38.4,0-69.6,31.2-69.6,69.6
        v13.6H46c-3.6,0-6.8,2.8-7.2,6.4l-24,223.6c-0.4,2,0.4,4,1.6,5.6c1.2,1.6,3.2,2.4,5.2,2.4h278c2,0,4-0.8,5.2-2.4
        C306,317.2,306.8,315.2,306.4,313.2z M223.6,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4
        C217.2,126.4,220,123.6,223.6,123.6z M106,69.6c0-30.4,24.8-55.2,55.2-55.2c30.4,0,55.2,24.8,55.2,55.2v13.6H106V69.6z
         M98.8,123.6c3.6,0,6.4,2.8,6.4,6.4c0,3.6-2.8,6.4-6.4,6.4c-3.6,0-6.4-2.8-6.4-6.4C92.4,126.4,95.2,123.6,98.8,123.6z M30,306.4
        L52.4,97.2h39.2v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2
        V97.2h110.4v13.2c-8,2.8-13.6,10.4-13.6,19.2c0,11.2,9.2,20.4,20.4,20.4c11.2,0,20.4-9.2,20.4-20.4c0-8.8-5.6-16.4-13.6-19.2V97.2
        H270l22.4,209.2H30z"></path>
            </symbol> 
        </svg>
        <svg class="icon" viewBox="0 0 40 40"><use xlink:href="#cart1" x="21%" y="15%"></use></svg>
      </span>
      <span class="cart-content">
        <span class="cart-products-count ">{{ text_items_small }}</span>
      </span>
    </span>
  </button>
  <ul class="cart-dropdown">
    {% if products or vouchers %}
    <li>
      <div class="slimScrollDiv">
        <table class="table table-striped">
          {% for product in products %}
          <tr>
            <td class="text-center product-image col-md-3 col-sm-3 col-xs-3">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> {% endif %}
            </td>
            <td class="text-left col-md-7 col-sm-7 col-xs-7">
              <span class="quantity-formated">{{ product.quantity }} x</span>
              <a class="cart_block_product_name" href="{{ product.href }}">{{ product.name }}</a> 
              <span class="text-price text-left">{{ product.total }}</span>
              {% if product.option %}
              {% for option in product.option %}
              - <span class="product-detail">{{ option.name }} {{ option.value }}</span> {% endfor %}
              {% endif %}
              {% if product.recurring %} <br />
              - <span class="product-detail">{{ text_recurring }} {{ product.recurring }}</span> {% endif %}
            </td>
            
            <td class="text-center col-md-1 col-sm-1 col-xs-1"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
          </tr>
          {% endfor %}
          {% for voucher in vouchers %}
          <tr>
            <td class="text-center"></td>
            <td class="text-left">{{ voucher.description }}</td>
            <td class="text-right">x&nbsp;1</td>
            <td class="text-right">{{ voucher.amount }}</td>
            <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </li>
    <li>
      <div>
        <table class="table billing-info">
          {% for total in totals %}
          <tr>
            <td class="text-left"><strong>{{ total.title }}</strong></td>
            <td class="text-right value">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="text-center cart-btn">
          <a href="{{ cart }}"><button type="button" class="btn btn-default btn-cartblock"> {{ text_cart }}</button></a>&nbsp;&nbsp;&nbsp;
          <a href="{{ checkout }}"><button type="button" class="btn btn-primary btn-cartblock"> {{ text_checkout }}</button></a>
        </div>
      </div>
    </li>
    {% else %}
    <li>
      <p class="empty text-left">{{ text_cartempty }}</p>
    </li>
    {% endif %}
  </ul>
</div>