<div class="block-social col-lg-12 col-sm-12 clearfix">
  <div id="block-container">
    <ul>
      {% if facebook %}
        <li class="facebook"><a href="{{ facebook }}" ><i class="fa fa-facebook"></i></a></li>
      {% endif %}
      {% if twitter %}
        <li class="twitter"><a href="{{ twitter }}" ><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if youtube %}
        <li class="youtube"><a href="{{ youtube }}" ><i class="fa fa-youtube"></i></a></li>
      {% endif %}
      {% if gplus %}
        <li class="googleplus"><a href="{{ gplus }}"><i class="fa fa-google-plus"></i></a></li>
      {% endif %}
      {% if rss %}
        <li class="rss"><a href="{{ rss }}" ><i class="fa fa-rss"></i></a></li>
      {% endif %}
      {% if pinterest %}
        <li class="pinterest"><a href="{{ pinterest }}" ><i class="fa fa-pinterest"></i></a></li>
      {% endif %}
      {% if vimeo %}
        <li class="vimeo"><a href="{{ vimeo }}" ><i class="fa fa-vimeo"></i></a></li>
      {% endif %}
      {% if instagram %}
        <li class="instagram"><a href="{{ instagram }}" ><i class="fa fa-instagram"></i></a></li>
      {% endif %}   
    </ul>
    </div>
</div>