<div id="{{ ishi_randomnumer }}" class="galleryblock">
    <div class="subtitle">{{ subtitle }}</div>
    <h3 class="home-title">{{ heading }}</h3>
    <div class="owl-carousel">
    {% for ishi_sliderimage in ishi_sliderimages %}
    <div class="item gallery-image">
        <div class="ishigalleryblocks-container">
            <div class="image-container galley-image">
                <a href="{{ ishi_sliderimage.image }}" class="image_popup">
                    <img src="{{ ishi_sliderimage.image }}" alt="{{ ishi_sliderimage.title }}" class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <script type="text/javascript">
        $('#{{ ishi_randomnumer }} .owl-carousel').owlCarousel({
            loop:{{ loop }},
            nav:true,
            dots:false,
            center:true,
            autoplay:{{ autoplay }},
            animateOut: 'fadeOut',
            navigateByImgClick: true,
            rtl: $('html').attr('dir') == 'rtl'? true : false,
            navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
            responsive:{
                0:{
                  items:2
                },
                544:{
                  items:3
                },
                768:{
                  items:4
                },
                992:{
                  items:5
                },
                1200:{
                  items:5
                }
            }
        });
        $('.gallery-image').magnificPopup({
          type:'image',
          delegate: '.image_popup',
          gallery: {
            enabled: true
          }
        });
    </script>
</div>